<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bonjour et bienvenu sur le tout nouveau gossip THP</h1>
    <p>Clique <a href="/gossips/new/">ici</a> pour créer un nouveau potin</p> <br>
    <h3>Voici la liste de tous les potins enregistrés :</h3>
    <% gossips.each_with_index do |gossip, index| %>
        <p>
          <strong><%= gossip.author %></strong><br/>
          <%= gossip.content %>
        </p>
        <p><a href="/gossips/<%= index%>">Plus d'informations</a></p>
      <% end %>
  </body>
</html>